  /* Styling the Body element i.e. Color,
  Font, Alignment */
  body {
   background-color: #543e21;
   font-family: "Lucida Console", "Courier New", monospace;
   text-align: center;
   background-image: url('https://i.pinimg.com/originals/13/45/f3/1345f3440dc0c6f566071113eb998ca7.png');
   background-repeat: no-repeat;
   background-size: cover;
   color: rgba(172, 0, 0, 0.667);
   
  }

  /* Styling the Form (Color, Padding, Shadow) */
  form {
   background-color: rgb(236, 206, 129);
   background-image: url('https://th.bing.com/th/id/OIP.Mp0brzKqxXvrpFXj6Me7IgHaJ4?pid=ImgDet&rs=1');
   max-width: 500px;
   margin: 50px auto;
   padding: 30px 20px;
   box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
   background-size: cover;
  }

  /* Styling form-control Class */
  .form-control {
   text-align: left;
   margin-bottom: 25px;
  }

  /* Styling form-control Label */
  .form-control label {
   display: block;
   margin-bottom: 10px;
  }

  /* Styling form-control input,
  select, textarea */
  .form-control input,
  .form-control select,
  .form-control textarea {
   border: 1px solid #777;
   border-radius: 2px;
   font-family: inherit;
   padding: 10px;
   display: block;
   width: 95%;
  }

  /* Styling Button */
  button {
   background-color: #6c0000;
   border: 1px solid #777;
   border-radius: 2px;
   font-family: inherit;
   font-size: 21px;
   display: block;
   width: 100%;
   margin-top: 50px;
   margin-bottom: 20px;
   color: aliceblue;
  }
